extends layout

block content
  
  h1 Books
  p
    a(href='/books/new').button Create New Book
  form(method="get")
    input(name="search_key" placeholder="Search..." type="text" value= searchTerm)
    input(type="submit", value="Search").search_button 
    a.reset_button(href='?page=1') Reset Search
  table
    thead
      tr  
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  - var i = 1; 
  ul.navigation
    a.nav_button <<
    while i <= pageCount
      a.nav_button(href=`?page=${i}&search_key=${searchTerm}`)= i++
    a.nav_button >>
  